<!DOCTYPE html>
<html>
<head>
    <title>Files List</title>
</head>
<body>
    <h1>Files List</h1>
    <ul>
        {% for file in files %}
            <li>{{ file.title }}</li>
            {% if file.image %}
                <img src="{{ file.image.url }}" alt="{{ file.title }}">
            {% endif %}
            {% if file.video %}
                <video width="320" height="240" controls>
                    <source src="{{ file.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            {% if file.audio %}
                <audio controls>
                    <source src="{{ file.audio.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'messanges:upload_file' %}">Upload new file</a>
</body>
</html>
