{% extends "../base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div class="container">
    <div style="width: 100vw;">
        <div class="grid grid-cols-3 gap-4" style="border-bottom: 1px solid rgb(120, 120, 120); background-color: rgb(255, 242, 209);">
            <div style="border-right: 1px solid rgb(120, 120, 120); padding: 10px 5px;">
                <center>
                    <h2>Чаты</h2>
                    <input style="display: block; color: white; padding: 2px 5px; border-radius: 5px; width: 80%;" id="searchfield" placeholder="Поиск">
                </center>
            </div>
            <div class="col-span-2" style="padding: 10px 5px;">
                <center>
                    <h2>Текущий чат</h2>
                </center>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4" style="border-bottom: 1px solid rgb(120, 120, 120); height: 100vh;">
            <div style="border-right: 1px solid rgb(120, 120, 120); padding: 10px 5px; background-color: rgb(255, 248, 230);">
                <div class="container">
                    {% for User in Users %}
                    <div class="grid grid-cols-4 gap-4" style="border: none; border-radius: 16px; background-color: rgb(233, 227, 208); margin-bottom: 10px;">
                        <div>
                            <label tabindex="0" class="btn btn-ghost btn-circle avatar" style="left: 30%; height: 10vh; width: 5vw; ">
                                {% if User.image.url == "/media/%20" %}
                                    <div class="w-16 rounded-full">
                                        <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                    </div>
                                {% else %}
                                    <div class="w-16 rounded-full">
                                        <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                    </div>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-span-3">
                            <h1 style="margin-bottom: 15px;">{{ User.username }}</h1>
                            <p style="color: rgb(64, 64, 64);">{{ User.short_Desc | truncatechars:30 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-span-2">
                <center>
                    <h2>Текущий чат</h2>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="pop-up-background" style="display: none;">
    <div class="pop-up-card">
        <a class="btn btn-ghost close-add-chat"><i class="fa-solid fa-xmark fa-2x"></i></a>
        <h2 style="display: inline-block; position: relative; left: 35%;">Мои друзья</h2>
        <input style="display: block; color: white; padding: 2px 5px; border-radius: 5px; width: 97%; margin: 1px 10px; margin-top: 20px;" id="searchfield-friend" placeholder="Поиск">
        <div class="static-div">
            <ul class="scrollable-list">
                {% for User in Users %}
                    <li class="{% if user.id == User.id %}favorites{% elif User.id in user.friend_list_id %}in-friend-list{% else %}not-in-friend-list{% endif %}">
                        <div class="grid grid-cols-6">
                            <center>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                    {% if User.image.url == "/media/%20" %}
                                        <div class="w-12 rounded-full">
                                            <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                        </div>
                                    {% else %}
                                        <div class="w-12 rounded-full">
                                            <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                        </div>
                                    {% endif %}
                                </label>
                            </center>
                            <div>
                                <h4>{{ User.username | truncatechars:10 }}</h4>
                                <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                            </div>
                            <p></p>
                            <p></p>
                            {% if user.id == User.id %}
                                <p></p>
                                <a class="btn btn-primary">Открыть чат</a>
                            {% elif User.id in user.friend_list_id %}
                                <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                <a class="btn btn-error remove-friend" data-user-id="{{ User.id }}">Удалить из друзей</a>
                            {% else %}
                                <p></p>
                                <a class="btn btn-success add-friend" data-user-id="{{ User.id }}">Добавить в друзья</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid grid-cols-4 gap-4" style="margin: 1px 10px;">
            <a></a>
            <a class="btn btn-primary" id="all-users">Все пользователи</a>
            <a class="btn btn-primary" id="non-friend">Не в друзьях</a>
            <a class="btn btn-primary" id="friend">Мои друзья</a>
        </div>
{% endblock %}
