{% extends "../base.html" %}
{% load static %}
{% load tags %}
{% block title %}KoKaXaБо{% endblock %}
{% block content %}

<div class="pt-16 w-full">
    <div class="w-screen">
        <div class="grid grid-cols-3 border-b border-gray-700 bg-gray-800">
            <div class="border-r border-gray-700 p-2.5">
                <center>
                    <h2 class="text-white">Чаты</h2>
                    <form class="max-w-xl w-full">
                        <div class="flex">
                            <input class="flex py-[6px] px-4 border-[#cccccc] outline-none w-full rounded-tl-[40px] rounded-bl-[40px] focus:border-lightblue" style="color:rgb(255, 255, 255);" type="search" placeholder="Поиск">
                            <button type="submit" class="py-2 px-5 bg-[#cccccc] dorder border-[#cccccc] border-l-0 rounded-tr-[40px] rounded-br-[40px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-950">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                              </svg>
                              </button>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-span-2 p-2.5"> 
                <center>
                    <h2 class="text-white">Текущий чат</h2>
                </center>
            </div>
        </div>
        <div class="grid grid-cols-3 chat-box border-b border-gray-700 h-full">
            <div class="border-r border-gray-700 p-2.5 bg-gray-800">
                <div class="static-div-chat" style="height: 500px;">
                    <ul class="scrollable-list-chat">
                    {% for User in Users %}
                        {% if user.id == User.id %}
                            {% for Chat in Chats %}
                                {% if user.id == Chat.User1.id and user.id == Chat.User2.id %}
                    <li class="chat-friend" data-chat-id="{{ Chat.id }}">
                        <div class="grid grid-cols-4 gap-4 bg-gray-700 rounded-lg mb-2.5">
                            <div>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar mx-auto h-24 w-24">
                                    <div class="w-16 rounded-full">
                                        <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" alt="Logo">
                                    </div>
                                </label>
                            </div>
                            <div class="col-span-3">
                                <h1 class="mb-3 text-white">Избранное</h1>
                                <p class="text-gray-600">{{ User.short_Desc | truncatechars:30 }}</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% for User in Users %}
                        {% if user.id != User.id %}
                            {% for Chat in Chats %}
                                {% if user.id == Chat.User1.id or user.id == Chat.User2.id %}
                                    {% if User.id == Chat.User1.id or User.id == Chat.User2.id %}
                    <li class="chat-friend" data-chat-id="{{ Chat.id }}">
                        <div class="grid grid-cols-4 gap-4 bg-gray-700 rounded-lg mb-2.5">
                            <div>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar mx-auto h-24 w-24">
                                    {% if User.image.url == "/media/%20" %}
                                        <div class="w-16 rounded-full">
                                            <img src="{% static './images/logo.png' %}" alt="Logo">
                                        </div>
                                    {% else %}
                                        <div class="w-16 rounded-full">
                                            <img src="{{ User.image.url }}" alt="Logo">
                                        </div>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-span-3">
                                <h1 class="mb-3 text-white">{{ User.username }}</h1>
                                <p class="text-gray-600">{{ User.short_Desc | truncatechars:30 }}</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="button-chat bg-gray-700 rounded-lg p-2.5" style="position: relative; top: 4%;">
                    <center>
                        <h4 class="text-white">УПРАВЛЕНИЕ ЧАТАМИ</h4>
                    </center>
                </div>
            </div>
            <div class="col-span-2 h-full flex flex-col"> <!-- Форма чата -->
                <div class="flex-grow overflow-auto">
                    <div id="chat-messages-container" class="overflow-auto" style="height: 500px;">
                        <div class="scrollable-list-messages">

                        </div>
                    </div>
                </div>
                <form id="send-message-form" class="flex items-center p-2.5 bg-gray-800">
                    <input type="text" style="color: #fff; background-color: #2A303C;" id="message-input" class="input input-bordered flex-grow mr-2" placeholder="Введите сообщение" required > <i class="fa-solid fa-paperclip"></i><i class="fa-solid fa-microphone"></i>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>            
        </div>
    </div>
</div>

<div class="pop-up-background-friends hidden fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <div class="pop-up-card"> <!-- Система "Друзей" -->
        <a class="btn btn-ghost close-add-friend"><i class="fa-solid fa-xmark fa-2x"></i></a>
        <h2 style="display: inline-block; position: relative; left: 35%;">Друзья</h2>
        <input style="display: block; color: #fff; background-color: #2A303C; width: 97%; padding: 2px 5px; margin: 1px 10px; margin-top: 20px;" class="input input-bordered flex mr-2" id="searchfield-friend" placeholder="Поиск">
        <div class="static-div">
            <ul class="scrollable-list">
                {% for User in Users %}
                {% if User.id == user.id %}
                <li class="favorites">
                    <div class="grid grid-cols-6">
                        <center>
                            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                <div class="w-12 rounded-full">
                                    <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" width="16px" alt="Logo">
                                </div>
                            </label>
                        </center>
                        <div>
                            <h4>Избранное</h4>
                            <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                        </div>
                        <p style="color:rgb(120, 120, 120);">Это вы!</p>
                        <p></p>
                        {% if user.id == User.id %}
                            <p></p>
                            {% for chat in Chats %}
                                {% if chat.User1.id == user.id and chat.User2.id == user.id %}
                                    <a class="btn btn-primary">Открыть чат</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
                {% for User in Users %}
                {% if User.id != user.id %}
                    <li class="{% if User.id in user.friend_list_id %}in-friend-list{% else %}not-in-friend-list{% endif %}">
                        <div class="grid grid-cols-6">
                            <center>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                    {% if User.image.url == "/media/%20" %}
                                        <div class="w-12 rounded-full">
                                            <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                        </div>
                                    {% else %}
                                        <div class="w-12 rounded-full">
                                            <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                        </div>
                                    {% endif %}
                                </label>
                            </center>
                            <div>
                                <h4>{{ User.username | truncatechars:10 }}</h4>
                                <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                            </div>
                            <p></p>
                            <p></p>
                            {% if user.id in User.friend_list_id %}
                            {% if chat_exists %}
                            {% for chat in Chats %}
                                {% if chat.User1.id == user.id %}
                                    {% if chat.User2.id == User.id %}
                                    <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                    {% endif %}
                                {% elif chat.User2.id == user.id %}
                                    {% if chat.User1.id == User.id %}
                                    <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                    {% endif %}
                                    {% else %}
                                    <p></p>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% if User.id not in massa %}
                            <p></p>
                            {% endif %}
                                <a class="btn btn-error remove-friend-p" data-user-id="{{ User.id }}">Удалить из друзей</a>
                            {% elif User.id in user.friend_list_id %}
                                {% if chat_exists %}
                                {% for chat in Chats %}
                                    {% if chat.User1.id == user.id %}
                                        {% if chat.User2.id == User.id %}
                                        <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                        {% endif %}
                                    {% elif chat.User2.id == user.id %}
                                        {% if chat.User1.id == User.id %}
                                        <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}                                                                    
                                {% endif %}
                                    {% if User.id not in massa %}
                                    <p></p>
                                    {% endif %}
                                    <a class="btn btn-error remove-friend" data-user-id="{{ User.id }}">Удалить из друзей</a>
                            {% else %}
                                <p></p>
                                <a class="btn btn-success add-friend" data-user-id="{{ User.id }}">Добавить в друзья</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid grid-cols-4 gap-4" style="margin: 1px 10px;">
            <a></a>
            <a class="btn btn-primary" id="all-users">Все пользователи</a>
            <a class="btn btn-primary" id="non-friend">Не в друзьях</a>
            <a class="btn btn-primary" id="friend">Мои друзья</a>
        </div>
    </div>
</div>

<div class="pop-up-background-chats hidden fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <div class="pop-up-card"> <!-- Модальное окно "Чатов" -->
        <a class="btn btn-ghost close-add-chat"><i class="fa-solid fa-xmark fa-2x"></i></a>
        <h2 style="display: inline-block; position: relative; left: 35%;">Чаты</h2>
        <input style="display: block; color: #fff; background-color: #2A303C; width: 97%; padding: 2px 5px; margin: 1px 10px; margin-top: 20px;" class="input input-bordered flex mr-2" id="searchfield-friend" placeholder="Поиск">
        <div class="static-div">
            <ul class="scrollable-list">
                {% for User in Users %}
                    {% if User.id == user.id %}
                    <li class="{% if User in massa %}chat-added{% elif User not in massa %}chat-not-added{% endif %}">
                        <div class="grid grid-cols-6">
                            <center>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                        <div class="w-12 rounded-full">
                                            <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" width="16px" alt="Logo">
                                        </div>
                                </label>
                            </center>
                            <div>
                                <h4>Избранное</h4>
                                <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                            </div>
                            <p></p>
                            <p></p>
                            {% if User in massa %}
                                <p></p>
                                <a class="btn btn-error delete-chat" data-user-id="{{ user.id }}">УДАЛИТЬ ЧАТ</a>
                            {% elif User not in massa %}
                                <p></p>
                                <a class="btn btn-success add-chat" data-user-id="{{ user.id }}">ДОБАВИТЬ ЧАТ</a>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                {% for User in Users %}
                    {% if User.id in user.friend_list_id or user.id in User.friend_list_id %}
                    <li class="{% if User.id in massa %}chat-added{% elif User.id not in massa %}chat-not-added{% endif %}">
                        <div class="grid grid-cols-6">
                            <center>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                    {% if User.image.url == "/media/%20" %}
                                        <div class="w-12 rounded-full">
                                            <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                        </div>
                                    {% else %}
                                        <div class="w-12 rounded-full">
                                            <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                        </div>
                                    {% endif %}
                                </label>
                            </center>
                            <div>
                                <h4>{{ User.username | truncatechars:10 }}</h4>
                                <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                            </div>
                            <p></p>
                            <p></p>
                            {% if User.id not in massa %}
                                <p></p>
                                <a class="btn btn-success add-chat" data-user-id="{{ User.id }}">ДОБАВИТЬ ЧАТ</a>
                            {% endif %}
                            {% for Chat in Chats %}
                                {% if user.id == Chat.User1.id or user.id == Chat.User2.id %}
                                    {% if User.id == Chat.User1.id or User.id == Chat.User2.id %}
                                    <p></p>
                                    <a class="btn btn-error delete-chat" data-user-id="{{ User.id }}">УДАЛИТЬ ЧАТ</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid grid-cols-4 gap-4" style="margin: 1px 10px;">
            <a></a>
            <a class="btn btn-primary" id="all-chats">Все чаты</a>
            <a class="btn btn-primary" id="non-chat">Не в чатах</a>
            <a class="btn btn-primary" id="in-chat">Мои чаты</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var chatId = null;
    
        function loadMessages() {
            if (chatId) {
                $.ajax({
                    url: '/get_messages/' + chatId + '/',
                    method: 'GET',
                    success: function(data) {
                        $('.scrollable-list-messages').empty();
                        for (var i = 0; i < data.length; i++) {
                            var message = data[i];
                            $('.scrollable-list-messages').append('<li class="message-container"><p><strong>' + message.sender + ':</strong> ' + message.text + ' <em>' + message.date + '</em></p></>');
                        }
                    }
                });
            }
        }
    
        $('.chat-friend').on('click', function() {
            chatId = $(this).data('chat-id');
            loadMessages();
        });
    
        $('#send-message-form').submit(function(event) {
            event.preventDefault();
            if (chatId) {
                var messageText = $('#message-input').val();
                $.ajax({
                    url: '/send_message/',
                    method: 'POST',
                    data: JSON.stringify({ chat_id: chatId, text: messageText }),
                    contentType: 'application/json',
                    success: function() {
                        $('#message-input').val('');
                        loadMessages();
                    }
                });
            } else {
                alert("Пожалуйста, выберите чат");
            }
        });

        setInterval(loadMessages, 5000);
    });
</script>

{% endblock %}
