{% extends "../base.html" %}
{% load static %}
{% load tags %}
{% block title %}Главная страница{% endblock %}
{% block content %}

<div style="padding-top: 64px;">
    <div style="width: 100vw;">
        <div class="grid grid-cols-3 gap-4" style="border-bottom: 1px solid rgb(120, 120, 120); background-color: rgb(255, 242, 209);">
            <div style="border-right: 1px solid rgb(120, 120, 120); padding: 10px 5px;">
                <center>
                    <h2>Чаты</h2>
                    <input style="display: block; color: white; padding: 2px 5px; border-radius: 5px; width: 80%;" id="searchfield" placeholder="Поиск">
                </center>
            </div>
            <div class="col-span-2" style="padding: 10px 5px;"> 
                <center>
                    <h2>Текущий чат</h2>
                </center>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4 chat-box" style="border-bottom: 1px solid rgb(120, 120, 120); height: 100%">
            <div style="border-right: 1px solid rgb(120, 120, 120); padding: 10px 5px; background-color: rgb(255, 248, 230);">
                <div class="static-div-chat">
                    <ul class="scrollable-list-chat">
                    {% for User in Users %}
                        {% if user.id == User.id %}
                            {% for Chat in Chats %}
                                {% if user.id == Chat.User1.id and user.id == Chat.User2.id %}
                    <li>
                    <div class="grid grid-cols-4 gap-4" style="border: none; border-radius: 16px; background-color: rgb(233, 227, 208); margin-bottom: 10px;">
                        <div>
                            <label tabindex="0" class="btn btn-ghost btn-circle avatar" style="left: 30%; height: 10vh; width: 5vw; ">
                                    <div class="w-16 rounded-full">
                                        <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" width="16px" alt="Logo">
                                    </div>
                            </label>
                        </div>
                        <div class="col-span-3">
                            <h1 style="margin-bottom: 15px;">Избранное</h1>
                            <p style="color: rgb(64, 64, 64);">{{ User.short_Desc | truncatechars:30 }}</p>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% for User in Users %}
                        {% if user.id != User.id %}
                            {% for Chat in Chats %}
                                {% if user.id == Chat.User1.id or user.id == Chat.User2.id %}
                                    {% if User.id == Chat.User1.id or User.id == Chat.User2.id %}
                    <li>
                    <div class="grid grid-cols-4 gap-4" style="border: none; border-radius: 16px; background-color: rgb(233, 227, 208); margin-bottom: 10px;">
                        <div>
                            <label tabindex="0" class="btn btn-ghost btn-circle avatar" style="left: 30%; height: 10vh; width: 5vw; ">
                                {% if User.image.url == "/media/%20" %}
                                    <div class="w-16 rounded-full">
                                        <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                    </div>
                                {% else %}
                                    <div class="w-16 rounded-full">
                                        <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                    </div>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-span-3">
                            <h1 style="margin-bottom: 15px;">{{ User.username }}</h1>
                            <p style="color: rgb(64, 64, 64);">{{ User.short_Desc | truncatechars:30 }}</p>
                        </div>
                    </div>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    <li>
                        <div class="button-chat">
                            <center>
                                <h4>
                                    УПРАВЛЕНИЕ ЧАТАМИ
                                </h4>
                            </center>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-2"> <!-- Форма чата -->
                <div style="width: 100%; height: 100%;">
                    <div class="message-input-field">
                        <input style="width: 90%;">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="pop-up-background-friends" style="display: none;">
    <div class="pop-up-card"> <!-- Система "Друзей" -->
        <a class="btn btn-ghost close-add-friend"><i class="fa-solid fa-xmark fa-2x"></i></a>
        <h2 style="display: inline-block; position: relative; left: 35%;">Друзья</h2>
        <input style="display: block; color: white; padding: 2px 5px; border-radius: 5px; width: 97%; margin: 1px 10px; margin-top: 20px;" id="searchfield-friend" placeholder="Поиск">
        <div class="static-div">
            <ul class="scrollable-list">
                {% for User in Users %}
                {% if User.id == user.id %}
                <li class="favorites">
                    <div class="grid grid-cols-6">
                        <center>
                            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                <div class="w-12 rounded-full">
                                    <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" width="16px" alt="Logo">
                                </div>
                            </label>
                        </center>
                        <div>
                            <h4>Избранное</h4>
                            <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                        </div>
                        <p style="color:rgb(120, 120, 120);">Это вы!</p>
                        <p></p>
                        {% if user.id == User.id %}
                            <p></p>
                            {% for chat in Chats %}
                                {% if chat.User1.id == user.id and chat.User2.id == user.id %}
                                    <a class="btn btn-primary">Открыть чат</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    </li>
                {% endif %}
                {% endfor %}
                {% for User in Users %}
                {% if User.id != user.id %}
                    <li class="{% if User.id in user.friend_list_id %}in-friend-list{% else %}not-in-friend-list{% endif %}">
                        <div class="grid grid-cols-6">
                            <center>
                                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                    {% if User.image.url == "/media/%20" %}
                                        <div class="w-12 rounded-full">
                                            <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                        </div>
                                    {% else %}
                                        <div class="w-12 rounded-full">
                                            <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                        </div>
                                    {% endif %}
                                </label>
                            </center>
                            <div>
                                <h4>{{ User.username | truncatechars:10 }}</h4>
                                <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                            </div>
                            <p></p>
                            <p></p>
                            {% if user.id in User.friend_list_id %}
                            {% if chat_exists %}
                            {% for chat in Chats %}
                                {% if chat.User1.id == user.id %}
                                    {% if chat.User2.id == User.id %}
                                    <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                    {% endif %}
                                {% elif chat.User2.id == user.id %}
                                    {% if chat.User1.id == User.id %}
                                    <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                    {% endif %}
                                    {% else %}
                                    <p></p>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                                <a class="btn btn-error remove-friend-p" data-user-id="{{ User.id }}">Удалить из друзей</a>
                            {% elif User.id in user.friend_list_id %}
                                {% if chat_exists %}
                                {% for chat in Chats %}
                                    {% if chat.User1.id == user.id %}
                                        {% if chat.User2.id == User.id %}
                                        <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                        {% endif %}
                                    {% elif chat.User2.id == user.id %}
                                        {% if chat.User1.id == User.id %}
                                        <a class="btn btn-primary" data-user-id="{{ User.id }}" style="margin-right: 5px;">Открыть чат</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}                                                                    
                                {% endif %}
                                    <a class="btn btn-error remove-friend" data-user-id="{{ User.id }}">Удалить из друзей</a>
                            {% else %}
                                <p></p>
                                <a class="btn btn-success add-friend" data-user-id="{{ User.id }}">Добавить в друзья</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid grid-cols-4 gap-4" style="margin: 1px 10px;">
            <a></a>
            <a class="btn btn-primary" id="all-users">Все пользователи</a>
            <a class="btn btn-primary" id="non-friend">Не в друзьях</a>
            <a class="btn btn-primary" id="friend">Мои друзья</a>
        </div>
    </div>
</div>
    <div class="pop-up-background-chats" style="display: none;">
        <div class="pop-up-card"> <!-- Модальное окно "Чатов" -->
            <a class="btn btn-ghost close-add-chat"><i class="fa-solid fa-xmark fa-2x"></i></a>
            <h2 style="display: inline-block; position: relative; left: 35%;">Чаты</h2>
            <input style="display: block; color: white; padding: 2px 5px; border-radius: 5px; width: 97%; margin: 1px 10px; margin-top: 20px;" id="searchfield-friend" placeholder="Поиск">
            <div class="static-div">
                <ul class="scrollable-list">
                    {% for User in Users %}
                        {% if User.id == user.id %}
                        <li class="{% if User in massa %}chat-added{% elif User not in massa %}chat-not-added{% endif %}">
                            <div class="grid grid-cols-6">
                                <center>
                                    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                            <div class="w-12 rounded-full">
                                                <img src="{% static './images/star-favorite-icon-sign-design-free.png' %}" width="16px" alt="Logo">
                                            </div>
                                    </label>
                                </center>
                                <div>
                                    <h4>Избранное</h4>
                                    <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                                </div>
                                <p></p>
                                <p></p>
                                {% if User in massa %}
                                    <p></p>
                                    <a class="btn btn-error delete-chat" data-user-id="{{ user.id }}">УДАЛИТЬ ЧАТ</a>
                                {% elif User not in massa %}
                                    <p></p>
                                    <a class="btn btn-success add-chat" data-user-id="{{ user.id }}">ДОБАВИТЬ ЧАТ</a>
                                {% endif %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% for User in Users %}
                        {% if User.id in user.friend_list_id or user.id in User.friend_list_id %}
                        <li class="{% if User.id in massa %}chat-added{% elif User.id not in massa %}chat-not-added{% endif %}">
                            <div class="grid grid-cols-6">
                                <center>
                                    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                                        {% if User.image.url == "/media/%20" %}
                                            <div class="w-12 rounded-full">
                                                <img src="{% static './images/logo.png' %}" width="16px" alt="Logo">
                                            </div>
                                        {% else %}
                                            <div class="w-12 rounded-full">
                                                <img src="{{ User.image.url }}" width="16px" alt="Logo">
                                            </div>
                                        {% endif %}
                                    </label>
                                </center>
                                <div>
                                    <h4>{{ User.username | truncatechars:10 }}</h4>
                                    <p style="color: rgb(167, 167, 167);">{{ User.short_Desc | truncatechars:10 }}</p>
                                </div>
                                <p></p>
                                <p></p>
                                {% if User.id not in massa %}
                                    <p></p>
                                    <a class="btn btn-success add-chat" data-user-id="{{ User.id }}">ДОБАВИТЬ ЧАТ</a>
                                {% endif %}
                                {% for Chat in Chats %}
                                    {% if user.id == Chat.User1.id or user.id == Chat.User2.id %}
                                        {% if User.id == Chat.User1.id or User.id == Chat.User2.id %}
                                        <p></p>
                                        <a class="btn btn-error delete-chat" data-user-id="{{ User.id }}">УДАЛИТЬ ЧАТ</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="grid grid-cols-4 gap-4" style="margin: 1px 10px;">
                <a></a>
                <a class="btn btn-primary" id="all-chats">Все чаты</a>
                <a class="btn btn-primary" id="non-chat">Не в чатах</a>
                <a class="btn btn-primary" id="in-chat">Мои чаты</a>
            </div>
        </div>
{% endblock %}
