<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <center><h3 id="file_type" name="file_type" value="audio">Аудиофайл</h3></center>
    <p>
        <label for="id_title">Сообщение:</label>
        <input type="text" name="title" maxlength="100" required="" id="id_title">
    </p>
    <p>
        <label for="id_audio">Аудиофайл:</label>
        <input type="file" name="audio" id="id_audio" accept="audio/*">
    </p>
    <input type="hidden" name="Chat_id" value=""  id="id_Chat_id">
    <input type="hidden" name="Sender_id" value="{{ user.id }}"  id="id_Sender_id">
    <button type="submit">Загрузить</button>
</form>
